<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX Launches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>SpaceX Launches</h1>
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}">&larr;</a>
        {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}">&rarr;</a>
        {% endif %}
    </div>
    <ul>
        {% for launch in launches %}
            <li>
                <a href="{{ url_for('launch', launch_id=launch.id) }}">
                    {{ launch.name }}
                </a> - {{ launch.date_utc }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
